    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top" style="background-color: rgb(0 0 0 / 90%)">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="{{ path('home') }}">Jimmy Martin - Développeur Fullstack PHP</a></h1>

            {% include "partials/_navbar.html.twig" %}
        </div>
    </header><!-- End Header -->
