<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url({{ asset('assets/img/hero-bg.png') }});">
	<div class="overlay-itro"></div>
	<div class="hero-content display-table">
		<div class="table-cell">
			<div
				class="container">
				<!--<p class="display-6 color-d">Hello, world!</p>-->
				<h1 class="hero-title mb-4">Bienvenue,</h1>
				<p class="hero-subtitle">je suis un dev' 
					<span class="typed" data-typed-items="PHP, Laravel, Symfony, backend"></span>
				</p>
				<p class="pt-3">
					<a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">En savoir plus&hellip;</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
