{% extends "back/base.html.twig" %}

{% block title %}
	Accueil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12 mb-5">
		<h1 class="mb-3">
			Backoffice du portfolio de Jimmy
		</h1>

		{% include "back/home/partials/_links.html.twig" %}
		
	</div>

	{% include "back/home/partials/_user.html.twig" %}

{% endblock %}
