{% extends "back/base.html.twig" %}

{% block title %}
	Image du mail de confirmation -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12 mb-5">
		<h1 class="mb-3">
			Changer l'image sur le mail de confirmation
		</h1>
	</div>

	{{ form_start(form) }}

	{{ form_row(form.image) }}
	<button class="btn btn-primary" type="submit">Modifier</button>
	{{ form_end(form) }}

{% endblock %}
