{% extends "back/base.html.twig" %}

{% block title %}
	Ajouter un système d'exploitation
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12">
		<h1 class="mb-3">Ajouter un système d'exploitation</h1>
	</div>
	{{ form_start(form) }}

    {{ form_row(form.name) }}
    
    <button class="btn btn-primary" type="submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
