{% extends "bundles/TwigBundle/Exception/error.html.twig" %}

{% block body %}
	<h1>Accès refusé.</h1>
	<p>Il semblerait que tu essaies d'accéder à du contenu non accessible. Je t'invite à retourner à l'accueil.</p>
{% endblock %}
